.chat-container{
    width: 100%;
    height: 100vh;
    background-color:rgb(36 36 36);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.chat-from-container{
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: center;
    width: 400px;
    min-height: 400px;
    height: 450px;
    opacity: 0.9;
    background-color:rgb(255 208 0);
    border-radius: 5px;
    box-shadow: 0px 0px 15px black;
    overflow-y: scroll;
}

.chat-input{
    display: flex;
    justify-self: flex-start;
    margin-top: 5px;
    border: none;
}

.message-from{
    list-style: none;
}

.message-from-me{
    color: blue;
    justify-content: left;
    margin-left: -140px;
}
.message-from-friend{
    color: black;
}
