.chat-container{
    width: 100%;
    height: 100vh;
    background-color:rgb(36 36 36);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* color: white; */
}

.chat-container-message{
    display: flex;
    width: fit-content;
}

.chat-from-container{
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: center;
    max-width: 700px;
    min-height: 400px;
    height: 450px;
    opacity: 0.9;
    background-color:rgb(255 208 0);
    border-radius: 5px;
    box-shadow: 0px 0px 15px black;
    overflow-y: scroll;
}

.chat-from-container::-webkit-scrollbar {
    width: 12px;              
  }
  
  .chat-from-container::-webkit-scrollbar-track {
    background: rgb(255 208 0);        
  }
  
  .chat-from-container::-webkit-scrollbar-thumb {
    background-color: rgb(7, 7, 7);    
    border-radius: 20px;       
    border: 3px solid rgb(255 208 0);  
  }

.chat-input{
    display: flex;
    justify-self: flex-start;
    margin-top: 5px;
    border: none;
}

.message-from{
    list-style: none;
    box-shadow: 0 0 5px 0 rgb(0, 0, 0.1);
    margin-bottom: 15px;
}

.message-from-me{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(245, 245, 245);
    justify-content: left;
    margin-left: -240px;
    text-shadow: 1px 1px 2px black;
    margin-left: 10px;
    background-color: #a5a5a5;
    border-radius: 5px;
    /* opacity: 0.7; */
    margin-bottom: 3px;
    padding: 3px;
}
.message-from-friend{
    color: lightblue;
    /* text-shadow: 1px 1px 2px white; */
    background-color: #2a2a2a;
    padding: 3px;
    border-radius: 5px;
    /* opacity: 0.7; */
    margin-bottom: 3px;
}

.title {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.descrip {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
