
.userCard {
    background-color: #3b3b3b;
    border-radius: 10px;
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    color: white;
    text-align: center;
    font-family: 'Nunito';
}

.userCard h2 {
    color: #ffd000;
}

.boxDescription{
    border-bottom: 1px solid gray;
}
