.container #ButtonActionPost {
    color:#a5a5a5;
}
.container #ButtonActionPost:hover {
    color:#ffd000;
}

.modal1 {
    display: block;
}
.modal2 {
    display: none;
}

.commentsList {
    position: absolute;
    width: 480px;
    max-height: 400px;
    border: 1px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contentComment {
    margin-left: 70px;
    margin-top: -50px;
    color:white;
    /* background-color: red; */
    max-width: 320px;
    word-wrap: break-word;
}

.contentComment p {
    margin-bottom: 5px;
    font-size: 15px;
}

#commentCard {
    width: 420px;
    min-height: 55px;
}

#boxComments {
    display:flex;
    flex-direction: column;
    overflow-y:scroll;
    max-height: 300px;
}

@media (max-width:600px) {
    .commentsList {
        width: 300px;
        height: max-content;
    }
    #commentCard {
        width: 260px;
        min-height: 55px;
    }
    .contentComment {
        margin-left: 70px;
        margin-top: -50px;
        color:white;
        /* background-color: red; */
        max-width: 180px;
        word-wrap: break-word;
    }
    
    .contentComment p {
        margin-bottom: 10px;
        font-size: 15px;
    }
}