
.textField{
    width:100%;
    background-color: #3b3b3b;
    border-radius: 10px;
}

#closeIcon:hover {
    background-color: #5f5f5f;
    border: 1px solid rgb(121, 121, 121)
}

.postCreator {
    position: absolute;
    border: 1px solid black;
    padding: 16px 32px 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    text-align: center;
}

.headerModal {
    display: flex;
    justify-content: space-between;
}

#Postbutton:hover {
    background-color: #ffec95;
    font-weight:bold;
}
#Postbutton {
    font-weight:bold;
}

.inputsdePost {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 190px;
}

.inputsdePost textarea{
    color:white;
}
.inputsdePost input{
    color:white;
}
.inputsdePost label{
    color:#a5a5a5;
}

.TitleCreatePost {
    display: flex;
    align-items: center;
}

.TitleCreatePost h2{
    padding-right: 5px;
    padding-bottom: 1px;
}