.textLikes:hover ~ ul{
    display: inline-block;
    opacity: 90%;
}
.actionsPost ul {
    display: none;
    opacity: 0%;
    background-color: gray;
    position: absolute;
    z-index: 1;
    color:white;
    font-family: 'Nunito';
    text-decoration:none;
    list-style: none;
    padding: 10px;
    border-radius: 10px;
    bottom: 100px;
    left: 5px;
}
.actionsPost ul #LikeTitle {
    text-align: center;
    color: #ffd000;
}

.actionsPost {
    height: 23px;
}

.textLikes {
    color:#a5a5a5;
    cursor: pointer;
}
.textCommentarys {
    color:#a5a5a5;
}
.ButtonActionPost {
    color:#a5a5a5;
}
.ButtonActionPost:hover {
    color:#ffd000;
}
#OLikes {
    color:#a5a5a5;
}
.actionLikes {
    display: flex;
    padding-right: 20px;
}

.inputsdeComments {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.inputsdeComments #filled-multiline-static{
  width: 450px;
  background-color: #3b3b3b;
  border-radius: 15px;
  margin-bottom:10px;
  padding-bottom:10px;
  color: white;
  height: 15px;
}

.inputsdeComments label {
  color: #a5a5a5;
}

.optionsPopper {
    display: flex;
    justify-content: right;
    margin-top: -50px;
    margin-right: 10px;
}
.banContainer {
    right:60px;
    top: 20px;
    position: absolute;
}

.userInfo{
    display: flex;
    justify-content: left;
}

#postText {
    padding: 0px;
    padding-top: 5px;
    padding-left: 15px;
}

@media (max-width:600px) {
    #card {
        width: 350px;
    }

    .inputsdeComments #filled-multiline-static{
        width: 300px;
        background-color: #3b3b3b;
        border-radius: 15px;
        padding-bottom:15px;
        margin:5px;
        margin-top: 0px;
        color: white;
        height: 7px;
    }
    .inputsdeComments label {
        margin:-2px;
        margin-left: 5px;
    }
    .inputsdeComments button {
        width: 100px;
        margin-right: 5px;
    }
    .actionsPost {
        height: 35px;
    }
    .banContainer {
       width: 100px;
       margin-top: 10px;
       right: 15px;
    }
}

