.Home {
    max-width: 100vw;
    height: auto;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.media-part {
    display: flex;
    justify-content: space-between;
    background-color: rgb(177, 177, 177);
}

.media-part .leftHome {
    width: 300px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
}
.media-part .rightHome {
    width: 300px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
}
.media-part .centerHome {
    background-color: transparent;
}