.inputsdePost .location{
    background-color: #3b3b3b;
    border-radius: 15px;
    width: 300px;
}
.img{
    width: 300px;
}

.containerParticipants {
    font-family: 'Nunito';
}

.containerParticipants .plusText {
    font-size: 17px;
    cursor: pointer;
    color: white;
}