#location {
    color:red
}

#dateHour {
    color:white;
}

.banContainerEvent {
    font-family: 'Nunito';
    margin-bottom: 10px;
}

@media (max-width:600px) {
    #EventCard {
        width: 350px;
    }
}