.EventDetailContainer {
    width: 100vw;
    height: 100vh;
    top:0px;
    left:0px;
    background-color: #2a2a2a;
}
.LoadingDetails {
    background-color: #2a2a2a;
    width: 100vw;
    height: 100vh;
}

.infoEvent {
    display: flex;
    justify-content: space-between;
}

.right {
    width: 250px;
}

.right #createdby {
    margin-left: 100px;
}

.right-namephoto {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.right-namephoto #h5 {
    margin-top: 10px;
    padding-top: 5px;
    margin-right: 10px;
}

.right-namephoto #avatar {
    margin-right: 10px;
}

.text {
    display: flex;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    align-items: flex-start;
    color: white;
    font-family: 'Nunito';
    padding-left: 10px;
}
.descriptionDetail {
  display: flex;
  height: 40px;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30px;
  padding: 10px;
}
.text .descriptionDetail h3 {
  color: #ffd000;
}
.text .descriptionDetail h4 {
  width:750px;
  word-wrap: break-word;
  margin-top: 0px;
}
.text .map {
}

.info2 {
    display: flex;
    justify-content: space-between;
}

#assistButton {
    border-radius: 10px;
    width: 150px;
    font-weight: bold;
}
#assistButton:hover {
    background-color: #ffec95;
    font-weight: bold;
}
.buttons #assistButton {
    margin-bottom: 15px;
    margin-left: 8px;
    margin-right: 8px;
    font-weight: bold;
}
.buttons #assistButton:hover {
    background-color: #ffec95;
    font-weight: bold;
}

.date-hour-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.date-hour-part span {
    margin-left:30px;
    color: white;
}

.left {
    text-align: start;
}

.wrapperDetail {
    width: 200px;
    height: 60px;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 42%;
  }
  
  .circleDetail {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #ffd000;
    left: 15%;
    transform-origin: 50%;
    animation: circle7124 .5s alternate infinite ease;
  }
  
  @keyframes circle7124 {
    0% {
      top: 60px;
      height: 5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
    }
  
    40% {
      height: 20px;
      border-radius: 50%;
      transform: scaleX(1);
    }
  
    100% {
      top: 0%;
    }
  }
  
  .circleDetail:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
  }
  
  .circleDetail:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }
  
  .shadowDetail {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow046 .5s alternate infinite ease;
  }
  
  @keyframes shadow046 {
    0% {
      transform: scaleX(1.5);
    }
  
    40% {
      transform: scaleX(1);
      opacity: .7;
    }
  
    100% {
      transform: scaleX(.2);
      opacity: .4;
    }
  }
  
  .shadowDetail:nth-child(4) {
    left: 45%;
    animation-delay: .2s
  }
  
  .shadowDetail:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }

  #buttonEventDetail:hover {
    background-color: #ffec95;
  }
