.HomeEvents {
    max-width: 100vw;
    min-height: 100vh;
}

.navbarEvents {
    height: 67px;
}
.navbarMobileEvents {
    height: 55px;
    display: none;
}

.HomeEvents .media-part {
    display: flex;
    justify-content: space-between;
    background-color: #3b3b3b;
}

.HomeEvents .media-part .leftHome {
    width: 300px;
    background-color: #242424;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
}
.HomeEvents .media-part .rightHome {
    width: 300px;
    background-color: #242424;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
}

#buttonPost {
    width: 55px;
    height: 55px;
    position: fixed;
    border: 1px solid transparent;
    bottom: 50px;
    right: 50px;
    transition: all 0.2s;
}
#buttonPost:hover {
    cursor: pointer;
    background-color: rgb(255, 208, 0);
    border: 2px solid white;
    width: 65px;
    height: 65px;
    bottom: 45px;
    right: 45px;
}

.HomeEvents .media-part .centerHome {
    background-color: transparent;
}

@media (max-width:600px) {
    .HomeEvents {
        min-width: 100vw;
        min-height: 100vh;
    }
    .HomeEvents .media-part {
        min-width: 100vw;
        min-height: 100vh;
        justify-content: center;
    }
    .HomeEvents .media-part .leftHome {
        display: none;
    }
    .HomeEvents .media-part .rightHome {
        display: none;
    }
    .HomeEvents .media-part .centerHome {
        width: 360px;
    }
    .navbarEvents {
        display: none;
    }
    .navbarMobileEvents {
        display: block;
    }
}