.postCreator #ButtonPremium {
    color:black;
    background-color: #ffd000;
    font-weight: bold;
    margin-top: 6px;
}
.postCreator #ButtonPremium:hover {
    background-color: #ffec95;
}

.premiumButton {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.premiumButton #filled-multiline-static {
    width: 440px;
    height: 15px;
    color: white;
    border-radius: 15px;
    background-color: #3b3b3b;
}
.premiumButton label {
    color: gray;
}

.outl {
    color: #ffd000
}