.user {
    height: fit-content;
    border-radius: 140px;
}

.userInfo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 10px;
}

.userCard {
    background-color: rgb(158, 158, 158);
    border-radius: 10px;
    padding: 20px;
}

.userPlusInfo {
    margin: 0px;
    font-size: 17px;
}

.userPlusInfo p {
    display: flex;
    justify-content: center;
    margin: 1px
}

.plus {
    margin-top: 1px;
    border-top: 1px solid rgba(0, 0, 0, 0.205);
    padding-top: 7px
}

.plusText {
    color:rgba(240, 255, 25, 0.5);
    font-size: 13px; 
}

.followers {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    margin-top: 0px;
    padding-top: 7px
}