.ProfileEdit {
    position: absolute;
    top: 25%;
    left: 30%;
    width: 500px;
    height: 450px;
    max-height: 400px;
}
.editProfileCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inputsdePerfil {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.inputsdePerfil #assistButton {
    width: 70px;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 10px;
}

.inputsdePerfil label {
    color:#a5a5a5;
}

.inputsdePerfil #inputTag {
    display: none;
}
.inputsdePerfil #labelInput {
    cursor: pointer;
    display: flex;
    padding: 5px;
    width: 130px;
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid #3b3b3b;
    background-color: #3b3b3b;
    justify-content: space-between;
}
.inputsdePerfil #labelInput:hover {
    border: 1px solid gray;
}
.inputsdePerfil .InputIMG {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.inputsdePerfil input {
    color:white;
    width: 350px;
    border-radius: 15px;
    background-color: #3b3b3b;
    height: 15px;
}

.inputsdePerfil .img{
    max-width: 100px;
    position: absolute;
    height: 80px;
    left: 70%;
    bottom: 5%;
}

.inputsdePerfil #deleteIMG {
    position: absolute;
    left: 85%;
    bottom: 20%;
}

@media (max-width:600px) {
    .ProfileEdit {
        width: 350px;
        top: 15%;
        left: 4%;
    }
    .inputsdePerfil input {
        color:white;
        width: 200px;
        border-radius: 15px;
        background-color: #3b3b3b;
        height: 15px;
    }
    .inputsdePerfil #assistButton {
        width: 70px;
        font-weight: bold;
        margin-top: 10px;
        margin-left: 10px;
    }
}