.Home {
    max-width: 100vw;
    min-height: 100vh;
}

.navbar {
    height: 67px;
}

.media-part-pc {
    display: flex;
    justify-content: space-between;
    background-color:#3b3b3b;
}

.media-part-mobile {
    display: none;
    min-width: 100vw;
    max-width: 100vw;
}

.media-part-mobile .centerHome {
    background-color: #2a2a2a;
    max-width: 100vw;
    min-height: 100vh;
}

.media-part-pc .leftHome {
    width: 300px;
    background-color: #2a2a2a;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
}
.media-part-pc .rightHome {
    width: 300px;
    background-color: #2a2a2a;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
}

#buttonPost {
    width: 55px;
    height: 55px;
    position: fixed;
    border: 1px solid transparent;
    bottom: 50px;
    right: 50px;
    transition: all 0.2s;
}
#buttonPost:hover {
    cursor: pointer;
    background-color: rgb(255, 208, 0);
    border: 2px solid white;
    width: 65px;
    height: 65px;
    bottom: 45px;
    right: 45px;
}

.media-part-pc .centerHome {
    background-color: transparent;
}

.media-part-mobile .containerMobileProfile {
    margin-left: 15px;
}

h3 {
    color: gray;
    font-family: 'Nunito';
    margin-top: 15px;
}

@media (max-width:600px) {
    .media-part-pc {
        display: none;
    }
    .media-part-mobile {
        display: flex;
        max-width: 100vw;
        min-height: 100vh;
        flex-direction: column;
    }
}